@media (max-width: 768px) {
  .DailyProduct_slider_MainDive {
    width: 80%;
    height: 300px;
  }

  .DailyProduct_button_next,
  .DailyProduct_button_prev {
    width: 40px;
    height: 40px;
    color: black;
  }

  .DailyProduct_button_next::after,
  .DailyProduct_button_prev::after {
    font-size: 1rem;
  }

  .DailyProduct_pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}